@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Heebo:wght@100;400&display=swap');

body {
    display: block;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    background-color: #ececec;
    font-family: 'Amatic SC', cursive;
    color: #000;
}

.navbar-brand img {
    max-height: 120px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #142d4c;
}

nav ul li a {
    color: #000;
    font-size: 24px;
    margin: auto 10px;
}

nav ul li a:hover {
    color: #142d4c;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #9fd3c7;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #142d4c;
    text-align: left;
    margin-bottom: 20px;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
}

section p {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 300;
}

span{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 300;
}

h4{
    font-family: 'Amatic SC', cursive;

    font-weight: 300;
}

h3{
    font-family: 'Amatic SC', cursive;

    font-weight: 300;
}

button {
    max-width: 50%;
    border-radius: 50px !important;
    font-family: 'Amatic SC', cursive;
    color: #ececec;
    opacity: 0.9;
    transition: all ease 0.5s;
    transform: scale(0.9);
}

button:hover {
    opacity: 1;
    transform: scale(1.0);
    text-decoration: none 
}

#biko .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#biko .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}

#biko img {
    max-width: 130% !important;
    width: 130%;
}

#bikoDois h2 {
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    color: #142d4c;
    margin-bottom: 40px;
}

#bikoDois .card {
    box-shadow: 11px 7px 16px #ececec;
    border: 0;
    text-align: center;
}

#bikoDois .card-title {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: #142d4c;
}

#bikoDois .card-text {
    font-size: 20px;
}

#bikoDois .icon {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

#resumoSobreNos {
    background-color: #ececec;
}

#resumoSobreNos h2 {
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    color: #142d4c;
    margin-top: 55px;
    margin-bottom: 40px;
}

#resumoSobreNos p {
    font-family: 'Amatic SC', cursive;
    color: #000;
    font-size: 30px;
    margin-bottom: 40px;
}

#resumoSobreNos img {
    box-shadow: 11px 7px 16px #142d4c;
    margin-bottom: 40px;
}

.rodape {
    background-color: #ececec;
    margin: 2px;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}

#link--contato {
    padding: 5px;
    font-weight: bold;
}


/*Serviços e produtos*/


.container2{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

#padding-0{
    padding-top: 0;
    padding-bottom: 3rem;
}
#padding-3{
    margin-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 641px){
    .container2{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 992px){
    .container2{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 1200px){
    .container2{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.skills{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.skills > span{
    font-weight: 700;
    text-transform: uppercase;
}

.skills > h3{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 4rem;
}

.skills > .skills-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 641px){
    .skills > .skills-container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;   }
}

.skills > .skills-container .skill-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-bottom: 3rem;
}
.skills > .skills-container .skill-badge{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    background-color: #fff;
    margin-bottom: 1rem;
}
.skills > .skills-container .skill-badge img{
    max-width: 50px;
}

.skills > .skills-container .skill-item h4{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.botao{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.none{
    color: black;
    text-decoration: none;
}

.botao .none{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    max-width: 80%;
    border-radius: 50%;
}
.produtor{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5rem;
    height: 100vh;
    width: 100vw;
}

.foto-produtor{
    height: 350px;
    width: 550px;
    
}

.section2{

   
}